.container {
  width: 100vw;
  height: 10vh;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #242582;

  .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Monospace, sans-serif;
    color: yellow;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
}
